
/** {border: 1px solid rgb(138, 136, 136) !important }*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
* {
    align-content: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
    padding-top: 20px;
}

.calculator {
    width: 250px;
    height: 335px;
    background-image: url(../images/pac.png);
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 28px;
    margin-top: 20px;
}

.row {
    display: block;
    padding-top: 5px;
    margin-right: 28px;
}

h2 {
    text-align: center;
    color: aliceblue;
}

.row button.tall {
    display: block;
    height: 67.5px;
    border-radius: 9%;
    float: right;
    margin-top: 0.3%;
    margin-right: 4px;
}
.row button {
    width: 40px;
    height: 30px;
    border: 1.5px solid rgb(150, 150, 150);
    margin-bottom :1px;
    border-radius: 15%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.10);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2), 0 3px 9px 0 rgba(0,0,0,0.10);
    }


input {
    background-color: black;
    color: rgb(3, 172, 3);
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    max-width: 100%;
    font-size: 24px;
    font-weight: bold;
}

.header {
    width: 100%;
    background-image: url(../images/background-banner-con.jpg);
    background-size: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;

}

footer {
    background-color: #6200ee;
    color: aliceblue;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    align-self: center;
}



